
@{
            ViewData["Title"] = "Show Details";

}
@model Serie
<!--Your HTML code here-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Top 10 TV Shows</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    <style>
        #links-items:hover {
            color: red;
        }

        .content {
            overflow: auto;
            position: relative;
        }

    </style>
</head>
<body style="background-color:aqua;">
    <div class="content" style="">
        <div class="container" style="padding-top:50px;">
            <div class="row" style="padding-top:50px;">
                <div class="col col-md-12" style="text-align: justify; text-justify: inter-word; ">
                    If you are looking for the details about the TV show episodes you are in the right place.
                    Check out the name and the length of each episode.
                </div>
            </div>
        </div>
        <div class="container" style=" padding-top: 50px;">
            <div class="row">
                <div class="col col-md-12">
            @*        <form method="Post" asp-action="seriedetailcreate">
               
                        <label asp-for="id" ></label>
                        <input asp-for="id" class="form-control" />
                        <br />
                        <label asp-for="title" >Titles</label>
                        <input asp-for="title" class="form-control" />
                        <br />
                        <label asp-for="seriedetail"></label>
                        <input asp-for="seriedetail" class="form-control"/>
                        <br />
                        <label asp-for="episodelength"></label>
                        <input asp-for="episodelength" class="form-control"/>
                        <br />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>*@




                    <table class="table table-striped" style="background-color: white; padding-top: 50px; ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Show Name</th>
                                <th scope="col">Release Year</th>
                                <th scope="col">IMDB Rate</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Crew</th>
                                <th scope="col">Full Title</th>
                                <th scope="col">Episode Name</th>
                                <th scope="col">Episode Length (Minute)</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                                foreach(var item in ViewBag.data)
                                {
                                    <tr>
                                        <th scope="row">@item.serie.id</th>    
                                        <th scope="row">@item.serie.title</th>
                                        <th scope="row">@item.serie.year</th>
                                        <th scope="row">@item.serie.imDbRating</th>
                                        <th scope="row">@item.serie.rank</th>    
                                        <th scope="row">@item.serie.crew</th>
                                        <th scope="row">@item.serie.fullTitle</th>
                                        <th scope="row">@item.episodename</th>
                                        <th scope="row">@item.episodelength</th>
                                    </tr>
                                }
                              }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



